{% extends "elo_ladder/base.html" %}

{% block title %}Register{% endblock %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      <p><strong>{{ message }}</strong></p>
    {% endfor %}
  {% endif %}
  <form id="login_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="">
    <br />
    Password: <input type="password" name="password" value="">
    <br />
    <input type="submit" name="submit" value="Login" />
  </form>
  <a href="{% url 'register' %}">Register</a>
{% endblock %}