{% extends "elo_ladder/base.html" %}

{% block title %}{{ player.get_name }}{% endblock %}

{% block body %}
<strong>Name:</strong> {{ player.get_name }}<br>
<strong>Rating:</strong> {{ player.elo }}<br>
<strong>Match Record:</strong> {{ player.match_wins }}-{{ player.match_losses }}<br>
<strong>Game Record:</strong> {{ player.game_wins }}-{{ player.game_losses }}<br>
<strong>Win percentage:</strong> {{ player.match_win_percent }}<br>
<strong>Game Win percentage:</strong>{{ player.game_win_percent }}<br>
<table>
  <thead>
    <tr>
      <th class="table-title" colspan="3">Matches Played</th>
    <tr>
      <th>Players</th>
      <th>Games Played</th>
      <th>Date Reported</th>
    </tr>
  </thead>
  <tbody>
    {% for did_win, match in matches %}
      <tr>
          <td>
            {% if did_win %}<div class="won">
            {% else %}      <div class="lost">
            {% endif %}
            {{ match.winning_player.get_name }} over {{ match.losing_player.get_name }}</div></td>
          <td>{{ match.games_played }}</td>
          <td>{{ match.add_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}