{% extends "elo_ladder/base.html" %}

{% block title %}{{ player.get_name }}{% endblock %}
{% block profile %}
  {% if user.is_authenticated and player.id == user.player.id %}
  class="active"
  {% endif %}
{% endblock %}

{% block body %}
<strong>Name:</strong> {{ player.user.first_name }} {{ player.user.last_name }}<br>
<strong>Rating:</strong> {{ player.elo }}<br>
<strong>Match Record:</strong> {{ player.match_wins }}-{{ player.match_losses }}<br>
<strong>Game Record:</strong> {{ player.game_wins }}-{{ player.game_losses }}<br>
<strong>Win percentage:</strong> {{ player.match_win_percent }}<br>
<strong>Game Win percentage:</strong>{{ player.game_win_percent }}<br><br>
{% if user.is_authenticated and player.id != user.player.id %}
<a href="{% url 'offer_trade' player.id %}"><button type="button" class="btn btn-lg">Trade with {{ player.user.first_name }}</button></a><br><br>
{% endif %}
<strong>Collection:</strong><br><br>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Card</th> 
    </tr>
  </thead>
  <tbody>
    {% for card, quantity in collection %}
      <tr>
       <td>{{ quantity }}</td>
       <td>{{ card }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<strong>Match History:</strong><br><br>
<table class ="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Players</th>
      <th>Games Played</th>
      <th>Date Reported</th>
    </tr>
  </thead>
  <tbody>
    {% for did_win, match in matches %}
      {% if did_win %}<tr class="success">
      {% else %}      <tr class="danger">
      {% endif %}
          <td>
            {{ match.winning_player.get_name }} over {{ match.losing_player.get_name }}</div></td>
          <td>{{ match.games_played }}</td>
          <td>{{ match.add_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}