{% extends "elo_ladder/base.html" %}

{% block title %}Match Reporting{% endblock %}

{% block body %}
<div id="report-content">
{% if messages %}
  {% for message in messages %}
    <p><strong>{{ message }}</strong></p>
  {% endfor %}
{% endif %}

<form action="{% url 'make_report' %}" method="post">
{% csrf_token %}
<select name="winner">
{% for player in players %}
  <option value={{ player.id }}>{{ player.get_name }}</option>
{% endfor %}
</select>
 beat 
<select name="loser">
{% for player in players %}
  <option value={{ player.id }}>{{ player.get_name }}</option>
{% endfor %}
</select>
 in 
<select name="games">
  <option value="2">2</option>
  <option value="3">3</option>
</select>
 games.<br /><br /><button type="submit" class="btn btn-lg">Report</button>
</form>
</div>
{% endblock %}

<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
  Winner<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    ...
  </ul>
</div>